fastapi
uvicorn[standard]
sqlmodel
psycopg2-binary
bcrypt==3.2.2
passlib[bcrypt]
python-jose[cryptography]
python-multipart
httpx
prometheus_client
opentelemetry-api
opentelemetry-sdk
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-instrumentation-fastapi
opentelemetry-instrumentation-httpx
opentelemetry-instrumentation-sqlalchemy